#div1{
    border: 2px solid red;
    height: 550px;
    width: 490px;
    background-color: brown;
    /* margin-top: 80px; */
    margin-left: 480px;
    /* border-bottom: 50px; */
    /* border-top-left-radius:55px ; */
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    /* border-top: 15px; */
}
#div2{
    margin-top: -99px;
      margin-left: 75px;
    height: 400px;
    width: 340px;
    /* border-top-left-radius: 150px; */
    /* border-top-right-radius: 150px; */
    background-color: beige;
    /* viewport-fit: 10px; */
}
#bappa{
   
    margin-top: -130px;
      margin-left: 75px;
    height: 200px;
    width: 150px;
    /* border-top-left-radius: 150px; */
    /* border-top-right-radius: 150px; */
    background-color: rgb(220, 222, 245);
}
#bappa1{
    margin-top: 170px;
    margin-left: 75px;
  height: 200px;
  width: 150px;
  /* border-top-left-radius: 150px; */
  /* border-top-right-radius: 150px; */
  background-color: rgb(137, 198, 5);
}